.ContactData {
    margin:20px auto;
    height:300px;
    width: 80%;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

.ContactData form {
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 10px 10%;
    height: 70%;

}





@media (min-width:600px){
    .ContactData{
        width:500px;
    }
}